# Ignore node_modules folder
node_modules

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Ignore build outputs
build
dist

# Ignore Docker-specific files
.dockerignore
Dockerfile

# Ignore editor directories and files
.vscode/
.idea/
*.swp
*.swo
